<%= form_with(model: [:admin, railway_station]) do |form| %>
  <%= render 'common/error', resource: railway_station %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit t('.submit', action: @railway_station.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
