<%= form_with(model: train) do |form| %>
  <%= render 'common/error', resource: train%>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
