<p style="color: green"><%= notice %></p>

<strong>Train number: </strong><%= @train.number %> <br>
<%= @train.route.nil? ? 'Route isn\'t set for this train' : "Route: #{@train.route.name}"%> <br>

<p>Coupe wagons total: <%= @train.coupe_wagons.count %> </p>
<p>Economy wagons total: <%= @train.economy_wagons.count %> </p>

<% places = 0 %>
<% coupe_wagons.each { |w| places += w.top_seats } %>
<p>Верхних купейных мест:<%= places %> </p>

<% places = 0 %>
<% coupe_wagons.each { |w| places += w.bottom_seats } %>
<p>Нижних купейных мест: <%= places %> </p>

<% places = 0 %>
<% economy_wagons.each { |w| places += w.top_seats } %>
<p>Верхних плацкартных мест: <%= places %> </p>

<% places = 0 %>
<% economy_wagons.each { |w| places += w.bottom_seats } %>
<p>Нижних плацкартных мест: <%= places   %> </p>

<p>
  <ul>
    <% @train.wagons.each do |wagon| %>
      <li><%= link_to wagon.number, wagon %></li>
    <% end %>
  </ul>
</p>

<div style='margin-top: 10px;'>
  <%= link_to "Edit this train", edit_train_path(@train) %>
  <%= link_to "Back to trains", trains_path %>

  <%= button_to "Destroy this train", @train, method: :delete %>
</div>
