<p style="color: green"><%= notice %></p>

<strong>Train number: </strong><%= @train.number %> <br>
<%= @train.route.nil? ? 'Route isn\'t set for this train' : "Route: #{@train.route.name}"%> <br>

<p>Coupe wagons total: <%= @train.wagons.coupe_wagons.count %> </p>
<p>Economy wagons total: <%= @train.wagons.economy_wagons.count %> </p>

<p>Верхних купейных мест:<%= @train.count_places('CoupeWagon', 'top_seats') %> </p>

<p>Нижних купейных мест: <%= @train.count_places('CoupeWagon', 'bottom_seats') %> </p>

<p>Верхних плацкартных мест: <%= @train.count_places('EconomyWagon', 'top_seats') %> </p>

<p>Нижних плацкартных мест: <%= @train.count_places('EconomyWagon', 'bottom_seats')   %> </p>

<div style='margin-top: 10px;'>
  <%= link_to "Edit this train", edit_train_path(@train) %>
  <%= link_to "Back to trains", trains_path %>

  <%= button_to "Destroy this train", @train, method: :delete %>
</div>
