<h1>Поиск дешевых авиабилетов</h1>

<%= form_for :search, url: search_path, method: :get do |form| %>
<div>
  <%= form.label :first_station_id, "First station" %>
  <%= form.collection_select :first_station_id, RailwayStation.all, :id, :title, {}, { multiple: false } %>
</div>
<br>
<div>
  <%= form.label :last_station_id, "Last station" %>
  <%= form.collection_select :last_station_id, RailwayStation.all, :id, :title, {}, { multiple: false } %>
</div>
<br>
<div>
  <%= form.submit 'Поиск' %>
</div>
<% end %>
