<p style="color: green"><%= notice %></p>

<strong>Wagon number: </strong><%= @wagon.number %> <br>
<p>Wagon type: <%= @wagon.type || 'Base wagon' %></p>
<p>Top seats: <%= @wagon.top_seats || 0 %></p>
<p>Bottom seats: <%= @wagon.bottom_seats || 0 %></p>
<% if @wagon.type == 'EconomyWagon' %>
  <p>Side top seats: <%= @wagon.side_top_seats %></p>
  <p>Side bottom seats: <%= @wagon.side_bottom_seats %></p>
<% elsif @wagon.type == 'SittingWagon' %>
  <p>Sitting seats: <%= @wagon.sitting_seats %></p>
<%end %>
<div style='margin-top: 10px;'>
  <%= link_to "Edit this wagon", edit_train_wagon_path(@wagon.train), url: train_wagons_path, method: :patch %> |
  <%= button_to "Destroy this wagon", train_wagon_path, url: train_wagon_path, method: :delete %>
</div>
<div>
  <%= link_to "Back", @wagon.train %>
</div>
