<p style="color: green"><%= notice %></p>

<p><strong>Wagon number: </strong><%= @wagon.number %> <br></p>
<p><strong>Top seats: </strong><%= @wagon.top_seats %></p>
<p><strong>Bottom seats: </strong><%= @wagon.bottom_seats %></p>

<div style='margin-top: 10px;'>
  <%= link_to "Edit this wagon", edit_wagon_path(@wagon) %> |
  <%= link_to "Back to wagons", wagons_path %>

  <%= button_to "Destroy this wagon", wagon_path(@wagon), method: :delete %>
</div>
