<p style="color: green"><%= notice %></p>

<%= render @route %> <br>
<% if @route.trains.empty? %>
  <%= 'No trains for this route'  %>
<% else %>
  <p><strong>Trains on route:</strong></p>
 <% @route.trains.each do |train| %>
  <%= train.number %>
  <% end %>
<% end %>

<p>Станции в маршруте</p>
<p>
  <% if @route.railway_stations.empty? %>
    No railway stations for this route
  <% else %>
    <ul>
      <% @route.railway_stations.ordered_by_index.each do |station| %>
        <li><%= station.title %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<div>
  <%= link_to "Edit this route", edit_route_url(@route) %> |
  <%= link_to "Back to routes", routes_path %>

  <%= button_to "Destroy this route", @route, method: :delete %>
</div>
