<%= form_with(model: [:admin, train]) do |form| %>
  <%= render 'common/error', resource: train%>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :current_station, "Current station" %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :route, "Route" %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :ordering, "Order form tail" %>
    <%= form.select :ordering, options_for_select([true, false], train.ordering || false ), class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
