<%= form_with(model: [:admin, train]) do |form| %>
  <%= render 'common/error', resource: train%>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :current_station %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :ordering %>
    <%= form.select :ordering, options_for_select([true, false], train.ordering || false ), class: 'form-control' %>
  </div>

  <div>
    <%= form.submit t('.submit', action: @train.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
