<%= form_with(model: resource) do |form| %>
  <%= render 'common/error', resource: resource %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
