<!DOCTYPE html>
<html>
  <head>
    <title>RailsLearner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;'>
    <p>(с) 2022 Алексей Бережной. Учебный проект в онлайн-школе <a href='http://www.thinknetica.com/'>Thinknetica</a></p>
  </footer>
</html>
